.wrap-login {
  margin-bottom: 40px;
  margin-top:  70px;
}

.titre_login {
  color: #A4A3A3;
}

.titre_login {
  text-align: center;
  margin-bottom: 30px;
  color : #00C4E1;
}

.login_message, .del_message {
  text-align: center;
}

main > div > .nav {
  margin-top:80px;
}

main > div > .nav > li > a {
  color: #00C4E1;
}

main > div > .nav > li > a:hover {
  border-color: #00C4E1;
}

main > div > .nav > .active > a {
  background-color: #00C4E1;
  color: white;
}

.table {
  margin-bottom: 0px;
  margin-top: 10px;
}

@media(max-width:767px){
  .table {
    font-size: 13px;
  }
}

.head {
  color: white;
  background-color: #00C4E1;
}
