.wrap-login {
  margin-bottom: 40px;
  margin-top:  7%;
}

.titre_login {
  color: #A4A3A3;
}

.titre_login {
  text-align: center;
  margin-bottom: 30px;
  color : #00C4E1;
}

.login_message {
  text-align: center;
}
