.navbar {
  background-color: #00C4E1;
  border-color: #00C4E1;
}

a {
  color: #ffffff;
}

label {
  font-size: 15px;
}

.topmenu {
  color: #00C4E1;
}

.topmenu:hover {
  color: white;
}

#sidebar { width: 40%; position: fixed; left: 40%; }
